db/contextual/serie/serie.xsd

<!--

    File Name          : stm8-32.xsd
    Description        : Schema to apply to the XML file that contains
                         contextual documentation about the MCU families

    COPYRIGHT(c) 2016 STMicroelectronics

    ====================================================================
    | version 0.1  |  A.Morin          | Creation                      |
    ====================================================================

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ctx_serie_help">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serie" maxOccurs="unbounded" minOccurs="1">
                    <xs:annotation>
                        <xs:documentation>family reference you want to document</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="title">
                                <xs:annotation>
                                    <xs:documentation>Title of the contextual widget</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element type="xs:string" name="extract">
                                <xs:annotation>
                                    <xs:documentation>Generic description displayed in the first panel of the tooltip</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element type="xs:string" name="help_text">
                                <xs:annotation>
                                    <xs:documentation>Detailed information displayed in the expandable</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="link" maxOccurs="unbounded" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Links that will be displayed on the help widgets:
                                        - display: string that will be displayed in front of the hyperlink
                                        - type: the type of file you want to display ("txt" "pdf", "chm", "html", "dynamic")
                                        dynamic stands for the document that have to be retrieved from the JSON database
                                        - reference: path to the document to be displayed (http or local path)
                                        If the file is dynamic, indicate the kind of file you want to display:
                                        * dataSheet => for datasheet document type
                                        * appNote => for application note document type
                                        * refMan => for reference manual document type
                                        * usrMan => for user Manual document type
                                        * prgMan => for Programming Manual document type
                                        * errSheet => for Errata Sheet document type
                                        - index: for pdf,html and chm type it specifies the chapter where the viewer will point
                                        for dynamic file it can specify a chapter except for application notes where it specifies
                                        the document display name (e.g. AN1015). This field may be left blank, then the full document
                                        is displayed</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="display"/>
                                            <xs:attribute type="xs:string" name="type"/>
                                            <xs:attribute type="xs:string" name="reference"/>
                                            <xs:attribute type="xs:string" name="index"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="ref"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>