db/mcu/bootrom/bootrom_faulty_states.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Tue Aug 15 2023 11:52:38 GMT+0100 (British Summer Time) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="Families">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Family">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Scopes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Scope" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="BootDevices">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BootDevice" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="instanceName" type="xs:string"></xs:attribute>
                                                                        <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                        <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                <xs:attribute name="id" type="xs:string"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Contexts">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Context" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                <xs:attribute name="id" type="xs:string"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="FaultyStates">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FaultyState" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="OuterLoop">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Condition">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="diagnostic" type="xs:string"></xs:attribute>
                                                                        <xs:attribute name="expression" type="xs:string"></xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="InnerLoop">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Condition">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="diagnostic" type="xs:string"></xs:attribute>
                                                                                    <xs:attribute name="expression" type="xs:string"></xs:attribute>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="Diagnostic" type="xs:string"></xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="bootDeviceType" type="xs:string"></xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="bootDeviceType" type="xs:string"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                <xs:attribute name="scope" type="xs:string"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>