db/mcu/bootpath/BWD.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2012 (x64) (http://www.altova.com) by USER USER (STMICROELECTRONICS) -->
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="BootpathWizardDescription">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BootPathList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BootPathDescription" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InternalName" type="xs:string"/>
										<xs:element name="ShortDescription" type="xs:string"/>
										<xs:element name="LongDescription" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="Condition" type="xs:string" use="optional"/>
														<xs:attribute name="Type" type="xs:string" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="SecurePreemptedIPList" type="xs:string" minOccurs="0"/>
										<xs:element name="Semaphore" type="xs:string" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="Type" type="xs:string" use="required"/>
									<xs:attribute name="Secure" type="xs:boolean" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="WizardTitleList">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="WizardTitle">
								<xs:complexType>
									<xs:attribute name="Condition" type="xs:string" use="optional"/>
									<xs:attribute name="Title" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="WizardChoiceGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WizardChoiceGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Title" type="xs:string"/>
				<xs:element ref="WizardChoice" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WizardChoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BootPath" type="xs:string"/>
				<xs:element ref="WizardChoiceGroup" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Condition" type="xs:string" use="optional"/>
			<xs:attribute name="Diagnostic" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
